.App {
  text-align: center;
  margin: 20px;
}

.header {
  background-color: #ccc;
  height: 100px;
}

.product_list_container {
  min-height: 100vh;
  background-color: greenyellow;
  margin-top: 20px;
}